name: Run Go Script

on:
  push:
    branches:
      - main  # ou la branche que vous souhaitez surveiller

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '16'  # Spécifiez la version de Node.js que vous souhaitez utiliser

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.20  # mettez à jour avec la version de Go que vous utilisez

    - name: Run Go Script
      run: |
        go get gopkg.in/yaml.v2
      
        go run post-update.go
